# Lecture 20 
# Sets part 1 
# creating sets

In [2]:
my_var = {1,2,3,4}
print(my_var)
print(type(my_var))

{1, 2, 3, 4}
<class 'set'>

 # Set() methods

In [3]:
another_set = set([10,20,30,40])
print(another_set)
print(type(another_set))

{40, 10, 20, 30}
<class 'set'>

 # Empty set

In [4]:
abc = {} 
print(abc) 
print(type(abc))

{}
<class 'dict'>

In [5]:
xyz = set() 
print(xyz) 
print(type(xyz))

set()
<class 'set'>

# properties of set

# 1) unordered

In [6]:
my_set = {3,1,4,2}
print(my_set)

{1, 2, 3, 4}

# 2) No indexing/slicing

In [7]:
a = {'animals','ball','cat'}
print(a[0])

TypeError: 'set' object is not subscriptable

In [8]:
a = {'animals','ball','cat'}
print(a[2:0])

TypeError: 'set' object is not subscriptable

# 3) Unique elements

In [9]:
my_set = {8,10,12,14,15,12,17,18,10,13,14,16,15,14,12,10,17,52,65} 
print(my_set)

{65, 8, 10, 12, 13, 14, 15, 16, 17, 18, 52}

# 4) lterable

In [12]:
my_set = {14,25,37,41,23} 
for element in my_set:
    print(element)

25
37
23
41
14

# 5) Hashable elements

only hashable objects (objects with a fixed hash value) can be added to a set. This means that sets cannot contain mutable types like lists or dictionaries.

In [13]:
my_set = {1,2,3,"a",3.6, (10,20)} 
print(my_set)

{1, 2, 3, 3.6, 'a', (10, 20)}

In [14]:
my_setl = {1,2,3,3.6,'b', [14,15,16]} 
print(my_setl)

TypeError: unhashable type: 'list'

In [16]:
x = {{'a':1, 'b':2}}
print(x)

TypeError: unhashable type: 'dict'

# Sets parts 2

# True and 1 are considered as same value

In [1]:
a = {'animals',"ball",25,24,3.6,5.9,1,56,True} 
print(a)

{1, 3.6, 5.9, 24, 25, 56, 'animals', 'ball'}

In [3]:
a = {'animals',"ball",25,24,3.6,5.9,1,56,0,23,False} 
print(a)

{0, 1, 3.6, 5.9, 23, 24, 25, 56, 'animals', 'ball'}

In [4]:
a = {'animals',"ball",25,24,3.6,5.9,1,56,0,23,True} 
print(a)

{0, 1, 3.6, 5.9, 23, 24, 25, 56, 'animals', 'ball'}

In [5]:
a = {'animals',"ball",25,24,3.6,5.9,1,56,0,23,True,23,False} 
print(a)

{0, 1, 3.6, 5.9, 23, 24, 25, 56, 'animals', 'ball'}

 # Nested is not a property of the set

In [6]:
a = {{11,12,13},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# check if item is present in the set or not

In [7]:
a = {"data","swati","python"} 
print("swati" in a)

True

In [10]:
b = {"nishant", "ayush", "python",2,5,95,29,5}
print(1 in b)

False

# get the length of the set

In [11]:
a = {"animals","bat","cat",1,85,496,5,896,59,6596,59,6596496} 
print(len(a))

11

# Add items

# Once a set is created, you cannot chnage the items but you can add the new items

In [12]:
a = {"a1","b1","c1",1,2,3} 
a.add("d1") 
print(a)

{1, 2, 3, 'c1', 'b1', 'd1', 'a1'}

# update method

In [14]:
x = {"data", "shyam", "nikhil"}
y = {10,12,13,14,15,16,17}

x.update(y)
print(x)

{'nikhil', 10, 12, 13, 14, 15, 16, 17, 'data', 'shyam'}

# Remove items from the sets

In [15]:
n = {'nikhil', 10, 12, 13, 14, 15, 16, 17, 'data', 'shyam'}
n.remove('shyam')
print(n)

{'nikhil', 10, 12, 13, 14, 15, 16, 17, 'data'}

In [16]:
n = {'nikhil', 1.0, 12, 13, 14, 15, 16, 17, 'data', 'shyam'}
n.remove(1.0)
print(n)

{'nikhil', 12, 13, 14, 15, 16, 17, 'data', 'shyam'}

# pop method

In [20]:
a = {15,486,85,964,545,86,9676,5,9,6}
c = a.pop()
print(a)

print(c)

{964, 5, 486, 6, 9, 9676, 15, 85, 86}
545

In [21]:
x = {'code', 'apple','shyam',95,86,5455,8842,96,15,8,6}
y = x.pop()
print(y)
print(x)

96
{'apple', 6, 8, 8842, 5455, 15, 'code', 86, 'shyam', 95}