# Tuples in python part 3

# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

# converting tuple in to list

In [4]:
x = ("data", "python","science","shyam")
print(x)
print(type(x))

y = list(x)
print(y)
print(type(y))

('data', 'python', 'science', 'shyam')
<class 'tuple'>
['data', 'python', 'science', 'shyam']
<class 'list'>

In [14]:
a = (25,26,45,35,45)
y = list(a)
print(y)
print(type(y))

y.append(50)
print("The new list is")
print(y)

x = tuple(y)
print("The new item add in tuple")
print(x)

[25, 26, 45, 35, 45]
<class 'list'>
The new list is
[25, 26, 45, 35, 45, 50]
The new item add in tuple
(25, 26, 45, 35, 45, 50)

 # Add tuple to a tuple

In [22]:
tup1 = ("python", "data", "science", "shyam")
y = ("code",)
tup1+=y
print(tup1)

('python', 'data', 'science', 'shyam', 'code')

# Remove items

In [4]:
fruits = ("apple","banana","cherry","date","fig")

fruit_list = list(fruits)
print(fruit_list)

fruit_list.remove("cherry")
print(fruit_list)

fruit_tup = tuple(fruit_list)
print(fruit_tup)

['apple', 'banana', 'cherry', 'date', 'fig']
['apple', 'banana', 'date', 'fig']
('apple', 'banana', 'date', 'fig')

# Changing the item in a tuple

In [6]:
x = ("apple","banana","cherry","date","fig")
y = list(x)
print(y)

y[1] = "blueberry"
print(y)

z = tuple(y)
print(z)

['apple', 'banana', 'cherry', 'date', 'fig']
['apple', 'blueberry', 'cherry', 'date', 'fig']
('apple', 'blueberry', 'cherry', 'date', 'fig')

In [7]:
x = ("apple","banana","cherry","date","fig")
y = list(x)
print(y)

y[3] = "blueberry"
print(y)

z = tuple(y)
print(z)

['apple', 'banana', 'cherry', 'date', 'fig']
['apple', 'banana', 'cherry', 'blueberry', 'fig']
('apple', 'banana', 'cherry', 'blueberry', 'fig')

# Del key

In [10]:
x - (56,85,46,25,34)
del x

NameError: name 'x' is not defined

# loop through a tuple

In [11]:
thistuple = ("a", "b", "c")
for x in thistuple:
    print(x)

a
b
c

# join two tuple

In [12]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)

tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply tuples

In [13]:
fruits = ("apple", "banana","cherry")
mytup = fruits*2
print(mytup)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [14]:
t = (1,)
l = list(t)
print(type(l))

<class 'list'>

In [15]:
t = (1,2,3)
l = list(t)
l.append(4)
print(l)

[1, 2, 3, 4]