# variables question

In [2]:
x = 5

x = 10
print(x)

10

In [8]:
#123variable
print("123variable")
#myVariable123
#print("myVariable123")

123variable

# Operator in python

# 1. Arithmetic Operator

In [9]:
a = 1 
b = 3
print(a+b)

4

In [10]:
x = 1.5
y = 2.5
print(x+y)

4.0

In [16]:
a1 = "hello"
b2 = "world"
print(a1+" "+b2)

hello world

In [17]:
x1 = 2+3j
y2 = 3+5j
print(x1+y2)

(5+8j)

In [18]:
num1 = 8
num2 = 4 
print(num1-num2)

4

In [19]:
a4 = 3.54
b4 = 8.5
print(a4-b4)

-4.96

In [20]:
a6 = 5+9j
b6 = 3+5j
print(a6-b6)

(2+4j)

# Built in finction in Python

1- Float function

In [7]:
num_int = 10
print(type(num_int))
#convert into float
a = float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [8]:
a = "3.14"
print(type(a))
#convert into float
b = float(a)
print(a)
print(type(b))

<class 'str'>
3.14
<class 'float'>

# int function

In [12]:
a = 5.53369
print (type(a))
#float into int 
b = int (a)
print(b)
print(type(b))

<class 'float'>
5
<class 'int'>

In [14]:
a1 = "43"
print(type(a1))
b1 = int(a1)
print(b1)
print(type(b1))

<class 'str'>
43
<class 'int'>

# string function

In [23]:
a = 56
print(type(a))
b = str(a)
print(b)
print(type(b))
c = "2"
print(b+c)
print(a+2)

<class 'int'>
56
<class 'str'>
562
58

# complex function

In [24]:
comp = complex(2,5)
print (comp)

(2+5j)

In [26]:
x = complex(6,79)
print(x)

(6+79j)

# abs function

In [27]:
x = -23
print(abs(x))

23

In [28]:
y = -2.3528
print(abs(y))

2.3528

In [29]:
z = -3+4j
print(abs(z))

5.0

# len fun

In [31]:
a = "hello i am harishyam stodent of BCA DS&AI"
print(len(a))

41

In [32]:
b = " I am stable in lucknow"
print(len(b))

23

In [33]:
c = [12,25,35,46]
print(len(c))

4

#Question

In [39]:
ps= 1234.56
print(type(ps))
ps1= int(ps)
print(ps1)
print(type(ps1))

<class 'float'>
1234
<class 'int'>

# built function

part 2

In [1]:
binary_rep = bin(10)
print(binary_rep)

0b1010

In [2]:
z = bin(2000)
print(z)

0b11111010000

# sum fun

In [3]:
my_list = [7,8,9,2,4,5,1115,6879,1]
a = sum(my_list)
print(a)

8030

In [4]:
a = [8,5,4,6]
starting_value = 10
total = sum(a,starting_value)
print(total)

33

In [6]:
b = [11,7,54,6]
starting_value = (100)
total = sum(b,starting_value)
print(total)

178

# Eval function()

In [8]:
x = 10
y = 5
expression = "x+y*2"
print(eval(expression))

20

In [9]:
exp = " 5/2 +3.5"
print(eval(exp))
print(type(exp))

6.0
<class 'str'>

In [12]:
exp1 = "234*25+63-98/2"
print(type(exp1))
print(eval(exp1))

<class 'str'>
5864.0

In [14]:
x = 5
y = 2.5
z = 32 
exp = "x+y-z*23/5-9*8"
print(eval(exp))

-211.7

# help fun

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating-point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [3]:
sum??

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

# input function

In [7]:
name = input("enter your name")
print("name entered by user is",name)
print(type(name))

enter your name hari

name entered by user is hari
<class 'str'>

In [9]:
age = input("enter your age please")
print("age of user is ",age)
print(type(age))

enter your age please 20

age of user is  20
<class 'str'>

questions

Get two numbers from the user  and calculate their sum

In [12]:
num1 = int(input("enter num first"))
num2 =int(input("enter num second"))
sum =num1 + num2
print(sum)

enter num first 10
enter num second 05

15

age = int(input("enter your age"))
weight = int(input("enter your weight"))
height = float(input("enter your height"))
correct_age = abs(age)
print("the correct age of the user is",correct_age)
BMR = "88.365 + (13.788 * weight) + (4.799 * height)- (5.677 * age )"
bmr = eval(BMR)
print("the BMR Of the patient is",int(bmr))

# Control flow statement

 if statement

In [4]:
i = 20 
if i<10:
    print("condition is true ")
print("condition is false")

condition is false

In [12]:
temp  = float(input("enter the temprature"))
if temp<15:
    print("temprature is not convinient")

if 24<temp<28:
    print("temprature is convinient")

enter the temprature 25

temprature is convinient

# if else satatement

write a program to check wether a person is eligible for voting or not

In [16]:
age = int(input("enter your age"))

if age>18:
    print("you are elegible for voting")

else:
    print("you are not elegible for voting")

enter your age 20

you are elegible for voting

# if elif else

In [19]:
a = input("enter the city")
if a == "Mumbai":
    print("the famous monument is aget way of India")
elif a == "Kolkata":
    print("the famous monument is victoria memorial")
elif a ==("Chennai"):
    print("the famous monument is marian beach")
elif a == "Pune":
    print("the famous monument is botnical garden")
elif a == "Banglore":
    print("the famous monument is shaniwr vada")
else:
    print("NOT RECORDED FOUND")

enter the city Pune

the famous monument is botnical garden

# Loop in Python

In [25]:
count = 1 
while count<=5:
    print(count)
    count = count + 1

1
2
3
4
5

# Write a Python program to  print all the even number between 1 and 50 a while loop.

In [29]:
num = 1
while num<=50:
    if num%2==0:
        print(num)
    num = num + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [35]:
email = input("please enter your mail address")
valid_email = False
#Start the loops 
# Check if email contains "@" and "."
if "@" in email and "." in email:
    print("Email address validation passed.")
    valid_email = True
else:
    print("Invalid email address format. please try again.")
    email =  input("please enter your mail address")

please enter your mail address harishyam@gmail.con

Email address validation passed.

# For loops

In [36]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [39]:
a = "STUDENT"
for i in a:
    print(i)

S
T
U
D
E
N
T

In [44]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# for loops and if condition

In [46]:
for i in range (0,26):
    if i%2==0:
        print("the number is even",(i))

the number is even 0
the number is even 2
the number is even 4
the number is even 6
the number is even 8
the number is even 10
the number is even 12
the number is even 14
the number is even 16
the number is even 18
the number is even 20
the number is even 22
the number is even 24

In [52]:
for i in range (0,26):
    if i%2==0:
        print("The number is even",i)
    else:
        print("The number is odd",i)

The number is even 0
The number is odd 1
The number is even 2
The number is odd 3
The number is even 4
The number is odd 5
The number is even 6
The number is odd 7
The number is even 8
The number is odd 9
The number is even 10
The number is odd 11
The number is even 12
The number is odd 13
The number is even 14
The number is odd 15
The number is even 16
The number is odd 17
The number is even 18
The number is odd 19
The number is even 20
The number is odd 21
The number is even 22
The number is odd 23
The number is even 24
The number is odd 25

# Implement a python program to generate the multiplication table of the given number

In [59]:
number = int(input("enter a number to generate its multiplication table"))
print("the multiplication table of",number)

for i in range(1,11):
    print(f"{number} x {i} = {number*i}") # f = formate

enter a number to generate its multiplication table 1555

the multiplication table of 1555
1555 x 1 = 1555
1555 x 2 = 3110
1555 x 3 = 4665
1555 x 4 = 6220
1555 x 5 = 7775
1555 x 6 = 9330
1555 x 7 = 10885
1555 x 8 = 12440
1555 x 9 = 13995
1555 x 10 = 15550

In [ ]:
num_items =int(input("enter the number of items purchase "))
total_price = 0

for i in range(num_items):
    price = float(input("enter the price of the item"))
    total_price = total_price + price
    i =i+1
if total_price >=100:
    discount = 0.1*total_price
elif 50<= total_price <100:
    discount = 0.5*total_price
else:discount = 0
    
total_bill = total_price - discount
print("subtotal",total_bill)

# break statement

In [8]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

# Continue statement

In [12]:
for i in range(5):
    if i==3:
        continue
    print(i)
print("i am learning Python")

0
1
2
4
i am learning Python

In [14]:
numbers =[1,2,3,4,5]
for num in numbers:
    print(num*2)

2
4
6
8
10

# Create and calling a function

In [3]:
def my_function():
    print("hello i am hari")

In [4]:
my_function()

hello i am hari

 Write a user define function to process the exam score and calculate 
the following statistics:
The average exam score,
The highest exam score,
The lowest of student who passes the exam (assuming apassing score is 80 or above).

    exam_score = [85,92,78,90,88,95,82,79,87,91]

def calculate_exam_statistics(exam_scores):

    num_students = len(exam_scores)
    average_score = sum(exam_scores)/num_students
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)


    num_passed = 0
    for score in exam_scores:
        if score>=80:
            num_passed = num_passed+1
        num_failed = num_students - num_passed

        return average_score, highest_score, lowest_score, num_passed, num_failed

In [58]:
exam_scores = [85,92,78,90,88,95,82,79,87,91]

average_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_statistics(exam_scores)
print("The average score is ", average_score)
print("The highest score is ", highest_score)
print("The lowest score is ", lowest_score)
print("The number of student passed is ",num_passed)
print("The number of student failed is ",num_failed)

The average score is  86.7
The highest score is  95
The lowest score is  78
The number of student passed is  1
The number of student failed is  9

Question 1

In [70]:
def grade_distribution(grades):

    for grade in grades:
        if 90<= grade <=100:
            print("you have got A grade")
        elif 80<= grade <=89:
            print("you have got B grade")
        elif 70<= grade <=79:
            print("you have got C grade")
        elif 60<= grade <=69:
            print("you have got D grade")
        else:
            print("you have got E grade")
    return

In [71]:
grades = [92,78,46,73,85,95,87,83,96,79]
grade_distribution(grades)

you have got A grade
you have got C grade
you have got E grade
you have got C grade
you have got B grade
you have got A grade
you have got B grade
you have got B grade
you have got A grade
you have got C grade

# Guessing game

In [1]:
import random
def number_guessing_game():
    secret_number = random.randint(1,100)
    print (secret_number)
    
    print ("Welcome to the number guessuing game")
    print ("i have choosen the number between 1 to 100: Can you guess it?")

    attempts = 0
    guess = None

    while guess != secret_number:
        
        guess = int(input("Enter your guess"))
        attempts = attempts + 1

        
        if guess < secret_number:
            print("Too low, try again")
        elif guess > secret_number:
            print("Too high, try again")
        else:
            print("Congratulation, you guessed the correct number")
            print("The number of attempt in guessing the correct number is",attempts)

In [28]:
number_guessing_game()

49
Welcome to the number guessuing game
i have choosen the number between 1 to 100: Can you guess it?

Enter your guess 85

Too high, try again

Enter your guess 44

Too low, try again

Enter your guess 49

Congratulation, you guessed the correct number
The number of attempt in guessing the correct number is 3

In [8]:
count = 0
while count <5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello

# Indexing of strings

# Multiline strings

In [10]:
a ="""SkillsBuild will help you achieve your employment goals.
We accelerate your time to a new career through education 
and building applicable experience. Your first step is a personal
assessment of capabilities and personality. SkillsBuild then recommends
role-based technical and professional education for specific jobs.
You will have the opportunity to earn digital badges, apply your new
skills to real projects, and build up a personal portfolio. 
SkillsBuild also helps businesses and support organizations form a new, sustainable
hiring ecosystem. """
print (a)

SkillsBuild will help you achieve your employment goals.
We accelerate your time to a new career through education
and building applicable experience. Your first step is a personal
assessment of capabilities and personality. SkillsBuild then recommends
role-based technical and professional education for specific jobs.
You will have the opportunity to earn digital badges, apply your new
skills to real projects, and build up a personal portfolio.
SkillsBuild also helps businesses and support organizations form a new, sustainable
hiring ecosystem.

In [15]:
a = "Hello dear teachers"
print(a[2])
print(a[4])
print(a[3])
print(a[5])
print(a[9])
print(a[14])  # Posssitive indexing

l
o
l

r
c

In [16]:
a = "Hello dear teachers"
print(a[-2])
print(a[-4])
print(a[-3])
print(a[-5])
print(a[-9])
print(a[-14]) # Negative indexing

r
h
e
c

# Slicing

In [19]:
a = "i am learning python"
print(a[0:5])

i am

In [20]:
a = "i am learning python"
print(a[0:10])

i am learn

In [21]:
a = "i am learning python"
print(a[:])

i am learning python

# Slicing with jump

In [22]:
a = "i am learning python"
print(a[0:10:2])

ia er

In [23]:
a = "i am learning python"
print(a[0:15:3])

imeng

In [24]:
a = "i am learning python"
print(a[::5])

iliy

# Negative slicing

In [25]:
a = "i am learning python"
print(a[-6:-1])

pytho

In [26]:
a = "i am learning python"
print(a[-16:])

 learning python

In [27]:
a = "i am learning python"
print(a[-18:-1:2])

a erigpto

# Practice question

In [29]:
def extract_date_parts (date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day =int(date_string[8:])
    return (year, month, day)

In [30]:
extract_date_parts("2024-05-28")

(2024, 5, 28)

In [32]:
extract_date_parts("2032-10-15")

(2032, 10, 15)

Q. Write a python program to reverse the string "Honesty is the best policy"

In [34]:
str = "honesty is the best policy"
print(str[::-1])

ycilop tseb eht si ytsenoh

In [35]:
a = "Programming"
print(a[0])

P

In [38]:
s = "Artificial"
print(s[:-4])

Artifi

# String - part 2

In [2]:
s = "theiscale"
print(len(s))

9

In [3]:
s = 'the iscale'
print(len(s))

10

In [4]:
s = ''
print(len(s))

0

In [5]:
s = ' '
print(len(s))

1

In [6]:
s = "hello/world"
print(s)
print(len(s))

hello/world
11

In [7]:
s = "hello@world"
print(s)
print(len(s))

hello@world
11

# python modify string
# uppper method

In [1]:
s = "this is the iscale"
print(s.upper())

THIS IS THE ISCALE

In [2]:
A = "hii HARISHYAM i am jupyter notebook"
print(A.upper())

HII HARISHYAM I AM JUPYTER NOTEBOOK

In [3]:
A = "hii HARISHYAM i am jupyter notebook version 18.789"
print(A.upper())

HII HARISHYAM I AM JUPYTER NOTEBOOK VERSION 18.789

In [4]:
a = "HII HARISHYAM I AM JUPYTER NOTEBOOK VERSION"
print(a.lower())

hii harishyam i am jupyter notebook version

# String concatenation

In [5]:
a = "hello"
b = "world"
print(a + b)

helloworld

In [6]:
a = "hello"
b = "world"
print(a +" "+ b)

hello world

In [7]:
a = "data"
print(a*4)

datadatadatadata

# Replace method

In [10]:
text = "Hello world, i am learning python"
rep = text.replace("python", "data Analysis")
print(rep)

Hello world, i am learning data Analysis

In [11]:
a = """The Government of India (Bhrata Sarakra,
legally the Union Government or the Union of India[2] or the Central Government)
is the national authority of the Republic of India, located in South Asia,"""
p = a.replace("Government","Modi")
print(p)

The Modi of India (Bhrata Sarakra,
legally the Union Modi or the Union of India[2] or the Central Modi)
is the national authority of the Republic of India, located in South Asia,

# index method

In [12]:
a = "i want to learn"
print(a.index("to"))

7

In [20]:
a = """The Government of India (Bhrata Sarakra)The Government of India (Bhrata Sarakra,
legally the Union Government or the Union of India"""
print(a.index("Union"))

97

# Find method

In [21]:
a = "python is great"
b = a.find("g")
print(b)

10

In [1]:
mylist = ["a", "b", "c"]
print(mylist)
print(type(mylist))

['a', 'b', 'c']
<class 'list'>

In [23]:
concatenate_string ="hello"+"world"
length = len(concatenate_string)
subscripting = concatenate_string[5:]
reverse = subscripting[::-1]
Upper = reverse.upper()
modify = Upper.replace("L","X")

print(concatenate_string)
print(length)
print(subscripting)
print(reverse)
print(Upper)
print(modify)

helloworld
10
world
dlrow
DLROW
DXROW

# 1. Ordered

In [3]:
fruits = ["mango","orange","cherry"]
print(fruits[0])

mango

In [4]:
fruits = ["mango","orange","cherry"]
print(fruits[1])

orange

# 2. Hetrogeneous

In [6]:
mixed_list = [1,"hello",3.14,[1,2,3]]
print(mixed_list[2])

3.14

# Indexed

In [7]:
animals = ['cat','dog','birds','fish']
print(animals[0])

cat

In [8]:
animals = ['cat','dog','birds','fish']
print(animals[-2])

birds

In [9]:
animals = ['cat','dog','birds','fish']
print(animals[:1])

['cat']

In [10]:
animals = ['cat','dog','birds','fish']
print(animals[:])

['cat', 'dog', 'birds', 'fish']

In [11]:
animals = ['cat','dog','birds','fish']
print(animals[::-1])

['fish', 'birds', 'dog', 'cat']

# Slicing

In [15]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[:5])

[10, 11, 12, 13, 14]

In [16]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[:])

[10, 11, 12, 13, 14, 15, 16]

In [17]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[:4])

[10, 11, 12, 13]

# Omiting slicing

In [18]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[:5])

[10, 11, 12, 13, 14]

# Negative indexing

In [19]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[-5:])

[12, 13, 14, 15, 16]

In [20]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[-2:])

[15, 16]

# indexing with steps

In [21]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[::2])

[10, 12, 14, 16]

In [22]:
numbers = [ 10,11,12,13,14,15,16]
print(numbers[::4])

[10, 14]

  # Question

In [34]:
scores = [55,57,78,76,74,89,84,90]
high_score = []

for score in scores:
    if score>65:
        high_score.append(score)
    else:
        pass
print(high_score)

[78, 76, 74, 89, 84, 90]

In [38]:
data = [ 1,2,3,4,5,6,7,8,9,10]

sum_first_five = sum(data[:5])
print("the sum of the first item is",sum_first_five)
reverse = data[::-1]
print("the reverse string is",reverse)

the sum of the first item is 15
the reverse string is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

 # Length method

In [2]:
a = [1,2,3,5,6,45,8,"hello",8.5,9.6]
print(len(a))

10

# mutability method

# Changing elements

In [3]:
my_list = [1,2,3,5,4]
my_list[3] = "hello"
print(my_list)

[1, 2, 3, 'hello', 4]

In [4]:
my_list = [1,2,3,5,4]
my_list[3] = 10
print(my_list)

[1, 2, 3, 10, 4]

# change a range of item value

In [5]:
a = [12,13,14,15,16,17,18,19,20]
a[2:5] = ["Books", "pen", "paper"]
print(a)

[12, 13, 'Books', 'pen', 'paper', 17, 18, 19, 20]

 # Add list item

In [7]:
thislist = ["apple", "banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [8]:
a = [14,15,12,16,17,19,15,]
a.append(-20)
print(a)

[14, 15, 12, 16, 17, 19, 15, -20]

 # remove this items

In [12]:
a = [4,8,21,85,4,57,24,65,85]
a.remove(4)
a.remove(4)
print(a)

[8, 21, 85, 57, 24, 65, 85]

# join the list

In [14]:
list1 = [1,2,3]
list2 = [12,12,13,14]
list3 = ["hello", "worls"]
print(list1 + list2 + list3)

[1, 2, 3, 12, 12, 13, 14, 'hello', 'worls']

# Check is a list cotains an element

In [15]:
a = [25,11,54,78,65,85,"hello","python",5.6]
3 in a

False

In [17]:
a = [25,11,54,78,65,85,"hello","python",5.6]
85 in a

True

# reversing a list

In [18]:
a = [1,25,11,54,78,65,85,66,78,25,36]
a.reverse()
print(a)

[36, 25, 78, 66, 85, 65, 78, 54, 11, 25, 1]